__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
venv/
.venv/
.env
.ipynb_checkpoints
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Project-specific huge files (Data & Models)
data/faiss_index/
data/processed/*.json

# Massive Datasets that crash Git Push (>100MB)
dataset/himed_trad_corpus.json
dataset/*.zip

models/mt5_ayurvedic_lora/model.safetensors
models/mt5_ayurvedic_lora/optimizer.pt
models/mt5_ayurvedic_lora/pytorch_model.bin
models/mt5_ayurvedic_lora/tokenizer.json
models/mt5_ayurvedic_lora/tokenizer_config.json
models/mt5_ayurvedic_lora/trainer_state.json
models/mt5_ayurvedic_lora/*.pt
models/mt5_ayurvedic_lora/*.bin
models/mt5_ayurvedic_lora/*.safetensors
models/mt5_ayurvedic_lora/checkpoint-*/

modify_ipynb.py
modify_ipynb_drive.py
